<h2>List of Articles By Author</h2>
<%- include('_form_fields') %>

    <% articles.filter(article => { %>
        <% if (article.author != null) { %>
        <div><%= article.title %></div>
        <% } %> 
    <% }); %>