<header>
    <h1><a href="/">WePost</a></h1>
    <nav>
        <button type="submit" onclick="window.location='/register'">Sign Up</button>
        <a href="/login">Login</a>
    </nav>
</header>
 